{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="background-white p20 mb50">
        <div class="container">
            <h1  class="page-title">Register</h1>

            <h3>Register as </h3>

            <a href="{{ path('app_register_worker')}}" class="btn btn-primary btn-lg">Worker</a>
            <a href="{{ path('app_register_serviceUser')}}" class="btn btn-primary btn-lg">Service User</a>
        </div><!-- /.container -->
    </div><!-- /.hero-image-content -->


{% endblock %}
