
        <div class="widget">
            <h2 class="widgettitle">Categories</h2>
            <div></div>
            <ul class="menu">
                {{ render(controller('App\\Controller\\ServicesController::listServicesMenu',{} )) }}
            </ul><!-- /.menu -->
        </div><!-- /.wifget -->




